In [1]:
#Imports
import pandas as pd
from datetime import datetime
import csv

#Sqlalchemy imports
from sqlalchemy import Column, Float, Integer, String ,DateTime, Text
from sqlalchemy.ext.declarative import declarative_base


from sqlalchemy import create_engine,inspect
from sqlalchemy.orm import Session

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base = declarative_base()

In [3]:
#Class definition & sqlalchemy engine create

class Measurements(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    def __repr__(self):
        return f"id={self.id}, name={self.stations}"
    
class Stations(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [4]:
Base.metadata.create_all(engine)
session = Session(bind=engine)
conn = engine.connect()

In [5]:
#Verify table creation with inspector
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [6]:
#csv ---> dataframe ---> to_dict(orient='records') --> 
def populate(engine, table, csvfile):
    conn = engine.connect()
    df =pd.read_csv(csvfile)
    data = df.to_dict(orient='records')
    conn.execute(table.insert(), data)
    
populate(engine,Measurements.__table__,"raw_data/clean_hawaii_measurements.csv")
populate(engine,Stations.__table__,"raw_data/clean_hawaii_stations.csv")

In [7]:

#Clean data CSV import to dataframes
#hmeasures_df = pd.read_csv("raw_data/clean_hawaii_measurements.csv")
#hstations_df = pd.read_csv("raw_data/clean_hawaii_stations.csv")

#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html                   
#hmeasures_df.to_sql('measurements',conn, if_exists='append',index=False)
#hstations_df.to_sql('stations',conn, if_exists='append',index=False)

In [8]:
Base.metadata.create_all(engine)
session.commit()

In [9]:
data = engine.execute("PRAGMA table_info([stations]);")
for item in data:
    print(item)

(0, 'id', 'INTEGER', 1, None, 1)
(1, 'station', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'latitude', 'FLOAT', 0, None, 0)
(4, 'longitude', 'FLOAT', 0, None, 0)
(5, 'elevation', 'FLOAT', 0, None, 0)

In [10]:
data = engine.execute("PRAGMA table_info([measurements]);")
for item in data:
    print(item)

(0, 'id', 'INTEGER', 1, None, 1)
(1, 'station', 'TEXT', 0, None, 0)
(2, 'date', 'TEXT', 0, None, 0)
(3, 'prcp', 'FLOAT', 0, None, 0)
(4, 'tobs', 'FLOAT', 0, None, 0)

In [11]:
data = engine.execute("SELECT * FROM stations")
for item in data:
    print(item)

(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9)
(8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)

In [12]:
data = engine.execute("SELECT * FROM measurements LIMIT 10")
for item in data:
    print(item)

(1, 'USC00519397', '2010-01-01', 0.08, 65.0)
(2, 'USC00519397', '2010-01-02', 0.0, 63.0)
(3, 'USC00519397', '2010-01-03', 0.0, 74.0)
(4, 'USC00519397', '2010-01-04', 0.0, 76.0)
(5, 'USC00519397', '2010-01-07', 0.06, 70.0)
(6, 'USC00519397', '2010-01-08', 0.0, 64.0)
(7, 'USC00519397', '2010-01-09', 0.0, 68.0)
(8, 'USC00519397', '2010-01-10', 0.0, 73.0)
(9, 'USC00519397', '2010-01-11', 0.01, 64.0)
(10, 'USC00519397', '2010-01-12', 0.0, 61.0)